@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --translate-z : 1300px;
  --padding-l : 4rem;
  --padding-m : 2rem;
  --padding-s : 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  }
.hidden-scrollbar{

}
.hidden-scrollbar::-webkit-scrollbar{
  display: none;
}
.snap-div{
  position:relative;
  margin: 0 auto;
  perspective: 10000px;
  width:250px;
  height:200px;
}
.snap-ul{
  
  transform-style:preserve-3d;
  float: right;
  width:100%;
  height:100%;
  /* transform:rotateY(42deg) translateZ(200px); */
}
.snap-ul::-webkit-scrollbar{
  display:none;
}
.snap-li{
  position:absolute;
  width:100%;
  height: 350px;
  object-fit: contain;
  /* background-color: red; */
}
.snap-li>img{
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.snap-ul li:nth-child(1){
  transform: rotateY(0deg) translateZ(var(--translate-z)); 
}

.snap-ul li:nth-child(2){
  transform: rotateY(18deg) translateZ(var(--translate-z)); 
}

.snap-ul li:nth-child(3){
  transform: rotateY(36deg) translateZ(var(--translate-z)); 
}

.snap-ul li:nth-child(4){
  transform: rotateY(54deg) translateZ(var(--translate-z)); 
}

.snap-ul li:nth-child(5){
  transform: rotateY(72deg) translateZ(var(--translate-z)); 
}

.snap-ul li:nth-child(6){
  transform: rotateY(90deg) translateZ(var(--translate-z)); 
}

.snap-ul li:nth-child(7){
  transform: rotateY(108deg) translateZ(var(--translate-z)); 
}

.snap-ul li:nth-child(8){
  transform: rotateY(126deg) translateZ(var(--translate-z)); 
}

.snap-ul li:nth-child(9){
  transform: rotateY(144deg) translateZ(var(--translate-z)); 
}

.snap-ul li:nth-child(10){
  transform: rotateY(162deg) translateZ(var(--translate-z)); 
}

.snap-ul li:nth-child(11){
  transform: rotateY(180deg) translateZ(var(--translate-z)); 
}

.snap-ul li:nth-child(12){
  transform: rotateY(198deg) translateZ(var(--translate-z)); 
}

.snap-ul li:nth-child(13){
  transform: rotateY(216deg) translateZ(var(--translate-z)); 
}

.snap-ul li:nth-child(14){
  transform: rotateY(234deg) translateZ(var(--translate-z)); 
}
.snap-ul li:nth-child(15){
  transform: rotateY(252deg) translateZ(var(--translate-z)); 
}
.snap-ul li:nth-child(16){
  transform: rotateY(270deg) translateZ(var(--translate-z)); 
}
.snap-ul li:nth-child(17){
  transform: rotateY(288deg) translateZ(var(--translate-z)); 
}
.snap-ul li:nth-child(18){
  transform: rotateY(306deg) translateZ(var(--translate-z)); 
}
.snap-ul li:nth-child(19){
  transform: rotateY(324deg) translateZ(var(--translate-z)) ; 
}
.snap-ul li:nth-child(20){
  transform: rotateY(342deg) translateZ(var(--translate-z)) ; 
}

body{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.scrollable-element {

  overflow: overlay;

}
.animating{
  animation: moving 0.5s ease-in-out both;
}
@keyframes moving {
  0%{
    transform:translateX(var(--start-move));
  }
  100%{
     transform: translateX(var(--end-move));
   }
}